#lightdetail{
    width: 750px;
    margin: 35px auto;
    padding:20px 75px;
    background-color: #FFF;
    position: relative;
}
#lightdetail h1{
    font-size: 18px;
    font-family: arial;
    padding-bottom: 10px;
    text-indent: 20px;
}
#lightdetail h1.noti{
    text-indent: 0;
}
#lightdetail .hdlw{
    background:#fff url(../images/fs.jpg) no-repeat 20px -528px;
    width: 208px;
    height: 27px;
    margin: 20px 0 10px 0;
}
#lightdetail .txtbox{
    background-color: #f6f6f6;
    padding: 20px;
}
#lightdetail .txtbox .h{
    color: #000;
}
#lightdetail .txtbox .left{
    width: 222px;
}
#lightdetail .txtbox .right{
    width: 455px;
}
#lightdetail .txtbox .right p{
    padding-bottom: 10px;
}
#lightdetail .txtbox .dwlist li{
    background: url(../images/icon_i.jpg) no-repeat -78px -22px;
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
}
#lightdetail .h-pt{
    background-image: url(../images/fs.jpg);
    background-position: -211px -237px;
    width: 134px;
    height: 20px;
    text-indent: -99em;
}
#lightdetail .b{
    color: #000;
}
#lightdetail .h-login{
    background-image: url(../images/fs.jpg);
    background-position:-189px -417px;
    width: 134px;
    height: 20px;
    text-indent: -99em;
}
#lightdetail .boxin{
    background-color: #F6F6F6;
    width: 512px;
    height: 333px;
}
#lightdetail .pdm2{
    padding:40px 0;
}
#lightdetail .style2_h1{
    text-indent: 0!important;
}