.about h2{
    font-size: 15px;
}
.about h3{
    color: #000000;
}
.about .arcula2{
    padding-left: 10px;
    background: url(../images/icon_i.jpg) no-repeat -35px -17px;
    width: 10px;
    height: 30px;
}
.about .sublist{
    line-height: 30px;
    display: none;
}
.about .sublist a{
    padding: 0 10px;
}
.about .sublist a.on{
    color: #000;
}
.about ul.s3 li{
    float: left;
}
.about ul.s3 li .st1{
    width: 318px;
}
.about ul.s3 li p{
    padding-top: 8px;
}
.about ul.s3 li .st2{
    width: 300px;
    padding: 15px 20px 15px 10px;
    /*height: 325px;*/
    background: #f5f5f5;
    margin: 0 10px;
}
.about ul.s3 li .st3{
    width: 320px;
}
.about .map{
    height:383px;
    position: relative;
}
.about .map .c0{
    color: #909090;
    padding-top: 10px;
}
.about .map .lse{
    background: #F5F5F5;
    width: 303px;
    height:353px;
    float: left;
    padding: 15px;
    position: relative;
    z-index: 9;
}
.about .map .lse .line1{
    width: 2px;
    height:383px;
    background: #000;
    position: absolute;
    top:0;
    right: -2px;
    opacity: 0.1;
    filter:alpha(opacity=10);
}
.about .map .lse .route{
    padding-top: 20px;
}
.about .map .lse .route .pattern{
    height: 30px;
    width: 128px;
    border: 1px solid #C6C6C6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.about .map .lse .route .pattern a,.about #excg{
    display:block;
    height: 27px;
    width: 42px;
    float: left;
    text-align: center;
    padding-top: 3px;
    border-right: 1px solid #C6C6C6;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top,#FFFFFF,#F3F3F4);
    background-image: -ms-linear-gradient(top,#FFFFFF,#F3F3F4);
    background-image: -webkit-linear-gradient(top,#FFFFFF,#F3F3F4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF',EndColorStr='#F3F3F4');
}
#p1.on,#p2.on,#p3.on{
    background-color: #BCBCBD;
    background-image: -moz-linear-gradient(top,#C6C6C6,#BCBCBD);
    background-image: -ms-linear-gradient(top,#C6C6C6,#BCBCBD);
    background-image: -webkit-linear-gradient(top,#C6C6C6,#BCBCBD);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#C6C6C6',EndColorStr='#BCBCBD');
}
#p1 img{
    width: 20px;
    height: 20px;
    background: url(../images/icon_p.png) no-repeat -8px -1px;
    _background: url(../images/icon_p.gif) no-repeat -8px -1px;
}
#p2 img{
     width: 20px;
     height: 20px;
     background: url(../images/icon_p.png) no-repeat 0px -21px;
     _background: url(../images/icon_p.gif) no-repeat 0px -21px;
 }
#p3 img{
    width: 20px;
    height: 20px;
    background: url(../images/icon_p.png) no-repeat -33px 1px;
    _background: url(../images/icon_p.gif) no-repeat -33px 1px;
}
.nobdr{
    border-right: 0!important;
}
.about .fm{
    padding: 20px 0;
    position: relative;
    width: 266px;
}
.about .fm .intext{
    width: 260px;
    height: 23px;
    border: 1px solid #DEDFD9;
    line-height: 23px;
    padding: 0 2px;
}
.about .fm p{
    line-height: 2;
    padding-top: 15px;
}
.about .fm .sbm{
    width: 119px;
    height: 25px;
    line-height: 25px;
    background-color: #DEDFD9;
    display: block;
    text-align: center;
    color: #333333;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}
.about .fm .sbm:hover{
    text-decoration: none;
}
.about #excg{
    position: absolute;
    top:87px;
    right: 0px;
    border: 1px solid #C6C6C6;
    width: 20px;
    height: 22px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.about #excg img{
    width: 20px;
    height: 20px;
    background: url(../images/icon_p.png) no-repeat -44px -20px;
    _background: url(../images/icon_p.gif) no-repeat -44px -20px;
}
.kd-button{

}
.about .map .rse{
    width: 670px;
    height: 383px;
    float: left;
    position: relative;
    z-index: 1;
}
.photo_gallery{
    margin-top: 20px;
    width: 1003px;
    height: 124px;
    overflow: hidden;
}
.photo_gallery a{
    float: left;
    padding-right: 1px;
}
.photo_gallery a:hover{
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.mdcont .history_tit{
    background-position: 0 -23px;
    width: 142px;
}
.mdcont .sitemap_tit{
    background-position: 0 -283px;
    width: 142px;
}
.site_list{
    float: left;
    padding: 40px;
    line-height: 2;
}
.site_list dt{
    font-weight: bold;
}
