@charset "utf-8";
/*code by ukey*/
.wrap{
    width: 1003px;
    margin: 0 auto;
}
.wrap100{
    width: 100%;
    clear:both;
}
.head{
    width: 100%;
    height: 169px;
    background: #ffffff;
}
.head .logo{
    padding: 10px 0;
    margin-top: 20px;
}
.head .topnav{
    width: 388px;
}
.head .topnav ul li{
    float: left;
    padding: 30px 5px;
}
.head .topnav ul li span.adm{
    padding-right: 5px;
    float: left;
    display: block;

}
.head .topnav ul li span.ic{
    background: url(../images/icon_i.jpg) no-repeat -3px -65px ;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}
.head .topnav ul li span.ic01{
    background-position: -3px -47px;
}
.head .topnav ul li.lr a{
    padding: 0 3px;
}
.head .topnav .sch{
    border: 1px solid #B5B3A3;
    height: 18px;
    width:132px;
    padding-left: 2px;
}
.head .topnav .sch input.i{
    width: 112px;
}
.head .topnav .sch input.s{
    width: 20px;
    height: 20px;
    cursor: pointer ;
    background: url(../images/icon_i.jpg) no-repeat -3px -23px;
}
.head .topnav .sch input{
    border: 0;
    height: 18px;
    float: left;
}
.menu_a{
    position: absolute;
    background: #ffffff;
    width: 100%;
    left: 0 ;
    top: 140px;
    font-size: 12px;
    line-height: 2;
    /*display: block!important;*/
    padding-bottom: 40px;
    z-index: 999;
    display:none;
}

.menu_a a:hover,.menu_b a:hover{
    text-decoration: none;
    color: #000;
}
.menu_a ul li{
    position: relative;
    clear: both;
    width: 100px;
    height: 24px;
    line-height: 24px;
}
.menu_a ul li a{
    float: left;
    position: relative;
    display: block;
}

.menu_a ul li a b{
    background-image: url(../images/menu.jpg);
    display: block;
    position: absolute;
    top:0;
    left: 0px;
    z-index: 9;
    height: 20px;
    width: 100%;
    width:105%\0;
}
.menu_a ul li a:hover b{
    background-image: url(../images/menu_hover.jpg);
}
.menu_a ul li .sub{
    position: absolute;
    top:0;
    left:90px;
    display: none;
    width: 700px;
}
.menu_a ul li .sub a{
    margin: 0 15px;
    _display:inline;
}
.menu_b{
    border-bottom: 1px solid #eeedf3;
    position: relative;
    margin-top:18px;
}
.menu_b ul li{
    float: left;
    height: 32px;
}
.menu_b ul li a.tar{
    height: 29px;
    padding:0 28px;
    display: block;
}
.menu_b ul li a.tar:hover{
    border-bottom: 3px solid #bcbcbc;
    text-decoration: none;
}
.menu_b ul li a.tar.on{
    border-bottom: 3px solid #bcbcbc;
    text-decoration: none;
}
.menu_b ul li .sub{
    position: absolute;
    display: none;
    left:0;
    top:32px;
    background: #fafafa;
    width:1003px;
    height:40px;
}
.menu_b ul li .sub a{
    line-height: 40px;
    padding-left:60px;
}
/*footer*/
.footer{
    border-top: 1px solid #dddbe9;
    padding-top: 8px;
}
.footer .bnav{
    width: 543px;
}
.footer .bnav a{
    padding: 0 5px;
}
.footer .fwm{}
.footer .fwm a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/icon_i.jpg) no-repeat;
    _display:inline;
    margin: 0 2px;
}
.footer .fwm a.c1{
    background-position: -2px 2px;
}
.footer .fwm a.c2{
    background-position: -30px 2px;
}
.footer .fwm a.c3{
    background-position: -60px 2px;
}
.footer .fwm a.c4{
    background-position: -90px 2px;
}

/*conf*/
.noscroll {
    overflow:hidden!important;
}
.hidefixed{
    margin-right:15px!important;
}
.home{
    padding: 0 56px 0 0!important;
}
.mdcont{
    padding: 50px 0;
}
.mdcont h1{
    font-size: 16px;
    margin-bottom: 15px;
    height: 30px;
    width: 120px;
    overflow: hidden;
    text-indent: -99em;
    background-image: url(../images/fs.jpg);
}
.mdcont h1.bund22{
    background-position: 0 0;
}
.mdcont h1.directions{
    background-position: 0 -54px;
}
.mdcont h1.gallery{
    background-position: 0 -83px;
}
.mdcont h1.dinning{
    background-position: 0 -114px;
}
.mdcont h1.shopping{
    background-position: 0 -147px;
}
.mdcont h1.enticements{
    background-position: 0 -179px;
    width: 110px;
}
/*pop*/
#poptre{
    overflow-x: auto;
    overflow-y: scroll;
    margin: 0 !important;
    position: absolute;
    top: 0!important;
    left: 0!important;
    bottom: 0 !important;
    right: 0!important;
    display: none;
}
.popClose{
    position: absolute;
    width: 50px;
    height: 20px;
    background: url(../images/fs.jpg) no-repeat -190px -499px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.popmaximg{
    width: 890px;
    height: 500px;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    display: none;
    background-color: #FFF;
}
.popmaximg img{
    width: 750px;
    height: 500px;
}
.popmaximg .prev ,.popmaximg .next{
    width: 50px;
    height: 57px;
    display: block;
    position: absolute;
    top:40%;
    background: url(../images/cpr.jpg) no-repeat;
}
.popmaximg .prev{
    left: 10px;
}
.popmaximg .next{
    right: 10px ;
    background-position: right top;
 }
.posr{
    position: relative;
}