.venue ul.s3{

}
.venue ul.s3 li{
    float: left;
}
.venue ul.s3 li .st1{
    width: 320px;
}
.venue ul.s3 li .st2{
    width: 320px;
    padding: 0 15px 15px;
}
.venue ul.s3 li .st2 p{
    padding-top: 12px;
}
.venue ul.s3 li .st2 h2{
    font-size: 13px;
}
.venue ul.s3 li .st3{
    width: 310px;
    background-color: #F5F5F5;
    height: 480px;
    padding: 10px;
}
.venue ul.s3 li .st3 .m1{
    background-color: #FFF;
    padding: 10px 23px;
    margin-bottom: 15px;
}
.venue ul.s3 li .st3 .m1 .h13{
    font-size: 13px;
    padding: 10px 0;
}
.venue ul.s3 li .st3 .tit-ee{
    background-color: #CFCFCF;
    width:265px;
    height: 20px;
    padding-top: 8px;
}
.venue ul.s3 li .st3 .tit-ee .n{
    background-image: url(../images/fs.jpg) ;
    display: block;
    width: 78px;
    height: 15px;
    background-position:0 -472px;
    margin: 0 auto;
}
.venue ul.s3 li .st3 .m2{
    background-color: #FFF;
    padding: 6px 23px;
}
.venue ul.s3 li .st3 .m2 .ci{
    display: block;
    background-image: url(../images/fs.jpg) ;
    background-position:0 -504px;
    width:169px;
    height: 15px;
}
.venue ul.s3 li .st3 .m2 .d{
    display: block;
    background-image: url(../images/fs.jpg) ;
    background-position:0 -534px;
    width:169px;
    height: 15px;
}
.pd10{
    padding: 10px;
}
.dwlist{
    padding-top: 10px;
}
.dwlist li {
    background: url(../images/icon_i.jpg) no-repeat -78px -22px;
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
    clear:both;
}