.content{background: url(../images/bg.png) repeat-x 0 -133px;height: 272px;margin:18px auto;width: 1005px;position:relative;padding-top:116px;}
.content h1{font-size:20px;color:#1d1d1d;font-family:Georgia;margin-left:246px;position:absolute;top:24px; }
.content .loginbox{width: 386px;height: 150px;padding:50px 0 0 130px;background: #fdfdfd; margin:0 auto;opacity:0.9;filter:alpha(opacity=90);position:relative;}
.content .loginbox ul{}
.content .loginbox ul li{padding:8px 0;}
.content .loginbox ul li .txt{display:inline-block;*zoom:1;width:60px;}
.content .loginbox ul li .but{border:0px solid #d5d2cd;cursor:pointer;width: 140px;height: 22px;line-height: 20px;background:#d5d6c6 url(../images/bg3.png) repeat-x 0 -1px;}
.content .loginbox ul li .but:active{background: url(../images/bg.png) repeat-x 0 -888px;}
.content .loginbox .img{width: 84px;height: 99px;background: url(../images/3.png) no-repeat;position:absolute;top:60px;left:25px;}